*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centrado{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
body{
    
    background-color: #141f27;
    margin: auto;
    flex-wrap: wrap;

}
h1, h2, p, a, li{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}
.nav{
    margin: 2% 2% 2% 2%;
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
h2:hover, h1:hover{
    color: rgb(175, 247, 7);

}
.nav:hover{
    color:rgb(175, 247, 7);
    transform: scale(1.5);
    transition: transform 0.6s ease-out;
    border: 1px solid;
    border-radius: 7px;
}
nav{
    display: flex;
    justify-content: center;

}
#presentacion{
    margin-bottom: 30px;
}

#lenguajes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
    justify-content: center;
}

#html, #css, #javascript, #csharp, #mysql, #java{
    transition: transform 0.6s ease-out;
    padding: 30px;
}


#html:hover, #css:hover, #javascript:hover, #csharp:hover, #mysql:hover, #java:hover{
    transform: scale(1.1);
    
}

#presentacion, #contacto{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.pieDePagina{
    text-align: center;
}
footer{
    height: 70px;
}

#nombre,#apellido,#email,#mensaje, #btnEnviar{
    width: 430px;
    margin: 5% 0;
}
