*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centrado{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
body{
    
    background-color: #141f27;
    margin: auto;

}
h1, h2, p, a, li{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}
.nav{
    margin: 2% 2% 2% 2%;
}
h1, h2{
    text-align: center;
}
a:hover{
    color:rgb(175, 247, 7);
    transform: scale(1.5);
    transition: transform 0.6s ease-out;
}
nav{
    display: flex;
    justify-content: center;

}
#presentacion{
    margin-bottom: 30px;
}

#lenguajes{
    margin-top: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
}
#lenguajes2{
    height: 250px;
    display: flex;
    justify-content: center;
}
#lenguajes3{
    height: 250px;
    display: flex;
    justify-content: center;
}

#html, #css, #javascript, #csharp, #mysql{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}


#html:hover, #css:hover, #javascript:hover, #csharp:hover, #mysql:hover{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
    transition: transform 0.6s ease-out;
    
}



#presentacion, #proyectos, #contacto{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.pieDePagina{
    text-align: center;
}
footer{
    height: 70px;
}
